<template name="helpContentDECategoryRepetitorium">

    (##) Repetitorien

    <a href="/img/help/de/Repetitorien.jpg" data-lightbox="img-1"
       data-title="Repetitorien sind Sammlungen von Karteien, die thematisch zu einem Modul gehören, und dienen der Prüfungsvorbereitung.">
        <img src="/img/help/de/Repetitorien.jpg" alt="Repetitorien"
             class="img-responsive center-block">
    </a>
    <ul class="thm-numbering">
        <li><strong>Repetitorium:</strong> Repetitorien fassen mehrere Karteien (auch unterschiedlichen Typs) thematisch zusammen und dienen zur Vorbereitung auf eine Prüfung.
            Wenn eine Lehrperson das Repetitorium angelegt hat, kann damit die Vergabe von Bonuspunkten für kontinuierliches Lernen verbunden sein.
            Du erkennst dies am roten Label "Bonus".
        </li>
        <li><strong>Beschreibung:</strong> Der Button ganz rechts mit der Pfeilspitze nach unten öffnet die vollständige Beschreibung des Repetitoriums mit allen Metadaten.
            Welche Karteien zusammengefasst wurden, kannst du im Inhaltsverzeichnis des Repetitoriums erkennen:
            sie sind nach Karteizugehörigkeit sortiert.
            Das Inhaltsverzeichnis findest du in der Karteiansicht, die du per Klick auf das Thema aufrufst.
        </li>
    </ul>
</template>
