<template name="mainNavigationTopItemProfileItemMembership">
    {{#if isProLoginActive}}
        <tr class="{{#if isActiveRoute
                         'profileMembership'}}active{{/if}}">
            <td><a class="dropdown-item"
                   href="/profile/{{currentUser._id}}/membership"><i
                    class="fa fa-users"></i></a></td>
            <td><a class="dropdown-item"
                   href="/profile/{{currentUser._id}}/membership">{{_
                    "profile.membership"}}</a></td>
        </tr>
    {{/if}}
</template>
