<template name="cardsetNavigationEditRepetitorium">
    {{#if isShuffledCardset this._id}}
        {{#if isCardsetOwner _id}}
            <div class="hidden-xs btn-group">
                <button id="editShuffle" class="btn btn-sm btn-raised editShuffleBtn"
                    {{disableIfOffline}}>
                    <span class="flex-content"><i class="fa fa-cog fa-spin"></i>&nbsp;{{_ "modal-dialog.editreferences"}}</span>
                </button>
            </div>
        {{/if}}
    {{/if}}
</template>
